.nav-link {
  color: white !important;
  font-weight: bold !important;
}
.navbar-brand {
  color: white !important;
  font-weight: bold !important;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.6rem !important;
}
.about {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://cdn.pixabay.com/photo/2018/01/24/19/49/people-3104635_960_720.jpg");
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
  margin: auto;
  padding-top: 300px;
}
.welcome h1 {
  color: white;
  font-size: 3rem;
  font-family: tahoma;
  padding-bottom: 20px;
  font-weight: bold;
}
